.iui-menu
{
	border: 0;
	border-radius: 7px;
	cursor: default;
	height: 0;
	padding: 0;
	position: relative;
}
.iui-menu div /*Compatibility with Bootstrap */
{
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box; 
}
.iui-menu-block
{
	border-radius: 5px;
	list-style-type: none;
	margin: 0;
	padding: 3px;
	position: relative;
}
.iui-menu-item-root
{
	border: thin solid transparent;
	display: inline-block;
	position: relative;
	list-style-type: none;
	margin: 0 3px;
	padding: 3px 4px 3px 2px;
	white-space: nowrap;
}
.iui-menu-item-root-vertical
{
	border: thin solid transparent;
	display: block;
	position: relative;
	list-style-type: none;
	margin: 3px 0;
	padding: 2px 3px;
	white-space: nowrap;
}
.iui-menu-item-root-content
{
	display: inline-block;
    padding: 0 2px;
	vertical-align: middle;
}
.iui-menu-item-content
{
	display: inline-block;
	vertical-align: middle;
}
.iui-menu-item-root:first-of-type
{
	margin-left: 0;
}

.iui-menu-item-root:last-of-type
{
	margin-right: 0;
}
.iui-menu-marker-expand-space
{
	padding-right: 20px;
}
.iui-menu-marker-expand-space-rtl
{
	padding-left: 20px;
}
.iui-menu-marker-expand-down::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: #6791e1 transparent transparent transparent;
	position: absolute;
	top: 45%;
	right: 5px;
	width: 0;
	height: 0;
}
.iui-menu-marker-expand-down-rtl::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: #6791e1 transparent transparent transparent;
	position: absolute;
	top: 45%;
	left: 5px;
	width: 0;
	height: 0;
}
.iui-menu-marker-expand-right::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: transparent transparent transparent #6791e1;
	position: absolute;
	top: 35%;
	left: 92%;
	width: 0;
	height: 0;
}
.iui-menu-marker-expand-left::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: transparent #6791e1 transparent transparent;
	position: absolute;
	top: 35%;
	left: 2%;
	width: 0;
	height: 0;
}
.iui-menu-marker-top::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #1e4691 transparent;
	position: absolute;
	top: -9px;
	left: 10px;
	width: 0;
	height: 0;
}
.iui-menu-marker-top::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
	position: absolute;
	top: -8px;
	left: 10px;
	width: 0;
	height: 0;
}
.iui-menu-marker-top-rtl::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #1e4691 transparent;
	position: absolute;
	top: -9px;
	right: 10px;
	width: 0;
	height: 0;
}
.iui-menu-marker-top-rtl::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
	position: absolute;
	top: -8px;
	right: 10px;
	width: 0;
	height: 0;
}
.iui-menu-marker-left::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent #1e4691 transparent transparent;
	position: absolute;
	top: 12px;
	left: -9px;
}
.iui-menu-marker-left::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
	position: absolute;
	top: 12px;
	left: -8px;
}
.iui-menu-marker-right::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #1e4691;
	position: absolute;
	top: 12px;
	right: -9px;
}
.iui-menu-marker-right::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
	position: absolute;
	top: 12px;
	right: -8px;
}
.iui-menu-item
{
	border: thin solid transparent;
	display: block;
	list-style-type: none;
	padding: 2px 4px 2px 2px;
	position: relative;
	white-space: nowrap;
}
.iui-menu-item-root a
{
	color: white;
	text-decoration: none;
}
.iui-menu-item-root a:hover
{
	color: black;
}
.iui-menu-item a
{
	color: black;
	text-decoration: none;
}
.iui-menu-item-expand 
{
	background-position: -14px 0px;
}
.iui-menu-item-root-hovered, .iui-menu-item-root-selected
{
	border-radius: 3px;
}
.iui-menu-item-root-hovered a
{
	color: black;
}
.iui-menu-item-hovered, .iui-menu-item-selected
{
	border-radius: 3px;
}
.iui-menu-item-selected a
{
	color: black;
}
.iui-menu li > ul
{
	border-radius: 3px;
	margin: 0;
	padding: 3px;
	position: absolute;
	z-index: 999;
}
.iui-menu-root-separator
{
    background-color: #e5e5e5;
    border: 0;
    margin: 0;
    padding: 0;
    width: 1px;
}
.iui-menu-item-separator
{
    background-color: #e5e5e5;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
}
.iui-menu-load
{
	background: transparent;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	right: 2px;
	vertical-align: middle;
}
.iui-menu-load-rtl
{
	background: transparent;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 2px;
	vertical-align: middle;
}
.iui-menu-load-icon
{
	background: url(../resources/load-rect-white.gif) no-repeat 0 0;
}
.iui-submenu-load-icon
{
	background: url(../resources/load-rect.gif) no-repeat 0 0;
	float: right;
}