.iui-contextmenu
{
	background-color: #fafafa;
	border: 0;
	padding: 1px;
    color: black;
	cursor: default;
	position: absolute;
	font-size: 16px;
	z-index: 999;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.iui-contextmenu div /*Compatibility with Bootstrap */
{
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box; 
}
.iui-contextmenu-block
{
	border-radius: 5px;
	list-style-type: none;
	margin: 0;
	padding: 3px;
	position: absolute;
	z-index: 999;
}
.iui-contextmenu-item-content
{
	display: inline-block;
	vertical-align: middle;
}
.iui-contextmenu-marker-expand-space
{
	padding-right: 20px;
}
.iui-contextmenu-marker-expand-down::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: #6791e1 transparent transparent transparent;
	position: absolute;
	top: 45%;
	right: 5px;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-expand-down-rtl::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: #6791e1 transparent transparent transparent;
	position: absolute;
	top: 45%;
	left: 5px;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-expand-right::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: transparent transparent transparent #6791e1;
	position: absolute;
	top: 35%;
	left: 92%;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-expand-left::before
{
	content: "";
	border: 4px solid #6791e1;
	border-color: transparent #6791e1 transparent transparent;
	position: absolute;
	top: 35%;
	left: 2%;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-top::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #1e4691 transparent;
	position: absolute;
	top: -9px;
	left: 10px;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-top::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
	position: absolute;
	top: -8px;
	left: 10px;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-top-rtl::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #1e4691 transparent;
	position: absolute;
	top: -9px;
	right: 10px;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-top-rtl::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
	position: absolute;
	top: -8px;
	right: 10px;
	width: 0;
	height: 0;
}
.iui-contextmenu-marker-left::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent #1e4691 transparent transparent;
	position: absolute;
	top: 12px;
	left: -9px;
}
.iui-contextmenu-marker-left::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
	position: absolute;
	top: 12px;
	left: -8px;
}
.iui-contextmenu-marker-right::before
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #1e4691;
	position: absolute;
	top: 12px;
	right: -9px;
}
.iui-contextmenu-marker-right::after
{
	content: "";
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
	position: absolute;
	top: 12px;
	right: -8px;
}
.iui-contextmenu-item
{
	border: thin solid transparent;
	display: block;
	list-style-type: none;
	padding: 2px 4px 2px 2px;
	position: relative;
	white-space: nowrap;
}
.iui-contextmenu-item-expand 
{
	background-position: -14px 0px;
}
.iui-contextmenu-item-hovered, .iui-contextmenu-item-selected
{
	border-radius: 3px;
}
.iui-contextmenu li > ul
{
	border-radius: 3px;
	margin: 0;
	padding: 3px;
	position: absolute;
	z-index: 999;
}
.iui-contextmenu-item-header
{
	display: block;
	font-weight: bold;
	list-style-type: none;
	margin: 0 0 2px 0;
	padding: 2px 4px 2px 2px;
	white-space: nowrap;
}
.iui-contextmenu-item-separator
{
    background-color: #e5e5e5;
    border: 0;
    margin: 0;
    padding: 0;
    height: 1px;
}
.iui-contextmenu-load
{
	background: transparent;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	right: 2px;
	vertical-align: middle;
}
.iui-contextmenu-load-rtl
{
	background: transparent;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 2px;
	vertical-align: middle;
}
.iui-contextmenu-load-icon
{
	background: url(../resources/load-rect-white.gif) no-repeat 0 0;
}
.iui-subcontextmenu-load-icon
{
	background: url(../resources/load-rect.gif) no-repeat 0 0;
	float: right;
}



/* --- IntegralUI ContextMenu ------------------------------------------------------ */

.iui-contextmenu
{
	background-color: white;
    color: black;
    padding: 0;
}
.iui-contextmenu-item
{
	color: black;
}
.iui-contextmenu-item-hovered, .iui-contextmenu-item-selected
{
	background-color: #DDEEFF !important;
	border: solid thin #B3D9FF !important;
	color: black;
}
.iui-contextmenu-block, .iui-contextmenu li > ul
{
	background-color: #fefefe;
	border: solid thin #1e4691;
}
.iui-contextmenu-item-header
{
    background: #1e4691;
    border-radius: 3px;
    color: white;
    padding: 5px 7px;
    text-align: center;
}
.iui-contextmenu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../resources/icons.png) no-repeat 0 0;
}
.iui-contextmenu-item
{
	background-color: #fefefe;
	border: solid thin #fefefe;
	color: black;
}
.iui-contextmenu-marker-expand-down::before
{
	border: 4px solid #6791e1;
	border-color: #6791e1 transparent transparent transparent;
}
.iui-contextmenu-marker-expand-down-rtl::before
{
	border: 4px solid #6791e1;
	border-color: #6791e1 transparent transparent transparent;
}
.iui-contextmenu-marker-expand-right::before
{
	border: 4px solid #6791e1;
	border-color: transparent transparent transparent #6791e1;
}
.iui-contextmenu-marker-expand-left::before
{
	border: 4px solid #6791e1;
	border-color: transparent #6791e1 transparent transparent;
}
.iui-contextmenu-marker-top::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #1e4691 transparent;
}
.iui-contextmenu-marker-top::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-contextmenu-marker-top-rtl::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #1e4691 transparent;
}
.iui-contextmenu-marker-top-rtl::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-contextmenu-marker-left::before
{
	border: 4px solid #fefefe;
	border-color: transparent #1e4691 transparent transparent;
}
.iui-contextmenu-marker-left::after
{
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
}
.iui-contextmenu-marker-right::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #1e4691;
}
.iui-contextmenu-marker-right::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
}
.iui-contextmenu-item-disabled
{
	opacity: 0.5;
}
