<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户:大师兄</h5>
                        <div class="ibox-tools">
                            <span class="label label-primary">2015.02 更新</span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4">
                                <p><i class="fa fa-send-o"></i> 上传应用数量：<span class="badge badge-primary">12</span></p>
                                <p><i class="fa fa-credit-card"></i>操作任务次数：<span class="badge badge-primary">234</span>
                                </p>
                            </div>

                            <div class="col-sm-8">
                                <p><i class="fa fa-send-o"></i> 业务：
                                    <span class="label label-danger">大皇帝</span>
                                    <span class="label label-danger">女神联盟</span>
                                    <span class="label label-danger">骑士战歌</span>
                                    <span class="label label-danger">少年三国志</span>
                                    <span class="label label-danger">大将军</span>
                                    <span class="label label-danger">大侠传</span>
                                </p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">个数</span>
                        <h5>APP</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">1000</h1>
                        <div class="stat-percent font-bold text-success">13个<i class="fa fa-bolt"></i>
                        </div>
                        <small>最近一月添加</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">次数</span>
                        <h5>执行任务</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">1243</h1>
                        <div class="stat-percent font-bold text-info">200次 <i class="fa fa-level-up"></i>
                        </div>
                        <small>最近一月操作</small>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">实时</span>
                        <h5>连接的Agent</h5>
                    </div>
                    <div class="ibox-content">


                        <h1 class="no-margins">12345</h1>
                        <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i>
                            <small>增长较快</small>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="text-center">
                        <h3>操作记录</h3>
                    </div>
                    <div class="" id="ibox-content">
                        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h3>APP:<span class="label label-success">女神配服</span>用户:<span
                                            class="label label-info">大师兄</span></h3>
                                    <p>执行对象:
                                        <span class="label label-default">大皇帝SN</span>
                                        <span class="label label-default">女神联盟SN</span>
                                        <span class="label label-default">骑士战歌SN</span>
                                    </p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-info">更多</a>
                                            <span class="vertical-date">
                                        今天 <br>
                                        <small>2月3日</small>
                                    </span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h3>APP:<span class="label label-success">女神SQL更新</span>用户:<span
                                            class="label label-info">樱木</span></h3>
                                    <p>执行对象:
                                        <span class="label label-default">大皇帝SN</span>
                                        <span class="label label-default">女神联盟SN</span>
                                        <span class="label label-default">骑士战歌SN</span>
                                    </p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-info">更多</a>
                                            <span class="vertical-date">
                                        今天 <br>
                                        <small>2月3日</small>
                                    </span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h3>APP:<span class="label label-success">女神配服</span>用户:<span
                                            class="label label-info">大师兄</span></h3>
                                    <p>执行对象:
                                        <span class="label label-default">大皇帝SN</span>
                                        <span class="label label-default">女神联盟SN</span>
                                        <span class="label label-default">骑士战歌SN</span>
                                    </p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-info">更多</a>
                                            <span class="vertical-date">
                                        今天 <br>
                                        <small>2月3日</small>
                                    </span>
                                </div>
                            </div>
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h3>APP:<span class="label label-success">女神配服</span>用户:<span
                                            class="label label-info">大师兄</span></h3>
                                    <p>执行对象:
                                        <span class="label label-default">大皇帝SN</span>
                                        <span class="label label-default">女神联盟SN</span>
                                        <span class="label label-default">骑士战歌SN</span>
                                    </p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-info">更多</a>
                                            <span class="vertical-date">
                                        今天 <br>
                                        <small>2月3日</small>
                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>



</div>


<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>
<script src="js/plugins/chartJs/Chart.min.js"></script>
<script src="js/plugins/peity/jquery.peity.min.js"></script>
<script src="js/demo/peity-demo.min.js"></script>
<script>
    $(document).ready(function () {
        var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];
        var data1 = [{label: "数据1", data: d1, color: "#17a084"}, {label: "数据2", data: d2, color: "#127e68"}];
        $.plot($("#flot-chart1"), data1, {
            xaxis: {tickDecimals: 0},
            series: {
                lines: {show: true, fill: true, fillColor: {colors: [{opacity: 1}, {opacity: 1}]},},
                points: {width: 0.1, show: false},
            },
            grid: {show: false, borderWidth: 0},
            legend: {show: false,}
        });
        var lineData = {
            labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月"],
            datasets: [{
                label: "示例数据",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 40, 51, 36, 25, 40]
            }, {
                label: "示例数据",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [48, 48, 60, 39, 56, 37, 30]
            }]
        };
        var lineOptions = {
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            bezierCurve: true,
            bezierCurveTension: 0.4,
            pointDot: true,
            pointDotRadius: 4,
            pointDotStrokeWidth: 1,
            pointHitDetectionRadius: 20,
            datasetStroke: true,
            datasetStrokeWidth: 2,
            datasetFill: true,
            responsive: true,
        };
        var ctx = document.getElementById("lineChart").getContext("2d");
        var myNewChart = new Chart(ctx).Line(lineData, lineOptions)
    });
</script>