
.iui-dropdown-mark
{
	background: -webkit-linear-gradient(#E7E7E7, #BFBFBF);
	background:    -moz-linear-gradient(#E7E7E7, #BFBFBF);
	background:     -ms-linear-gradient(#E7E7E7, #BFBFBF);
	background:      -o-linear-gradient(#E7E7E7, #BFBFBF);
    background :         linear-gradient(#E7E7E7, #BFBFBF);

	background-color: #BFBFBF;
}

/* --- IntegralUI Accordion ----------------------------------------------- */

.iui-accordion-header
{
	background: -webkit-linear-gradient(#BFBFBF, #6F7878);
	background:    -moz-linear-gradient(#BFBFBF, #6F7878);
	background:     -ms-linear-gradient(#BFBFBF, #6F7878);
	background:      -o-linear-gradient(#BFBFBF, #6F7878);
    background :         linear-gradient(#BFBFBF, #6F7878);

	background-color: #555B5B;
	border: solid thin #555B5B;
}
.iui-accordion-header-hovered
{
	background: -webkit-linear-gradient(#D9D9D9, #A8A8A8);
	background:    -moz-linear-gradient(#D9D9D9, #A8A8A8);
	background:     -ms-linear-gradient(#D9D9D9, #A8A8A8);
	background:      -o-linear-gradient(#D9D9D9, #A8A8A8);
    background :         linear-gradient(#D9D9D9, #A8A8A8);

	background-color: #A8A8A8;
}
.iui-accordion-header-selected
{
	background: -webkit-linear-gradient(#6F7878, #14202A);
	background:    -moz-linear-gradient(#6F7878, #14202A);
	background:     -ms-linear-gradient(#6F7878, #14202A);
	background:      -o-linear-gradient(#6F7878, #14202A);
    background :         linear-gradient(#6F7878, #14202A);

	background-color: #14202A;
	border-color: #000000;
	color: white;
}

.iui-accordion-content
{
	background: -webkit-linear-gradient(white, #EEEEEE);
	background:    -moz-linear-gradient(white, #EEEEEE);
	background:     -ms-linear-gradient(white, #EEEEEE);
	background:      -o-linear-gradient(white, #EEEEEE);
    background :         linear-gradient(white, #EEEEEE);

	background-color: #EEEEEE;
	border: solid thin #555B5B;
}

.iui-accordion-expand-box
{
	background: url(../../resources/icons.png) no-repeat 0 0;
}
.iui-accordion-expand-box-expanded 
{
	background-position: -80px 0px;
}
.iui-accordion-expand-box-collapsed
{
	background-position: -96px 0px;
}

/* --- IntegralUI ComboBox ----------------------------------------------- */
.iui-combobox
{
	background-color: white;
	border-color: #cecece;
	border-radius: 1px;
    color: black;
}

/* --- IntegralUI Grid ----------------------------------------------- */
.iui-grid
{
	background-color: #363636;
	border: thin solid #121212;
    color: white;
}
.iui-grid-column-header, .iui-grid-column-footer
{
	background: -webkit-linear-gradient(#747474, #545454);
	background:    -moz-linear-gradient(#747474, #545454);
	background:     -ms-linear-gradient(#747474, #545454);
	background:      -o-linear-gradient(#747474, #545454);
    background :         linear-gradient(#747474, #545454);

	background-color: #545454;
	border: thin solid #646464;
}
.iui-grid-column-header-hovered
{
	background: -webkit-linear-gradient(#cccccc, #aaaaaa);
	background:    -moz-linear-gradient(#cccccc, #aaaaaa);
	background:     -ms-linear-gradient(#cccccc, #aaaaaa);
	background:      -o-linear-gradient(#cccccc, #aaaaaa);
    background :         linear-gradient(#cccccc, #aaaaaa);

	background-color: #aaaaaa;
	border-color: #bbbbbb;
}
.iui-grid-column-header-selected
{
	background: -webkit-linear-gradient(#a5a5a5, #858585);
	background:    -moz-linear-gradient(#a5a5a5, #858585);
	background:     -ms-linear-gradient(#a5a5a5, #858585);
	background:      -o-linear-gradient(#a5a5a5, #858585);
    background :         linear-gradient(#a5a5a5, #858585);

	background-color: #858585;
	border-color: #959595;
}
.iui-grid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-grid-row-disabled, .iui-grid-row-cell-disabled
{
	background-color: white;
	color: #cecece;
}
.iui-grid-row-hovered
{
	background: -webkit-linear-gradient(white, #E9E9E9);
	background:    -moz-linear-gradient(white, #E9E9E9);
	background:     -ms-linear-gradient(white, #E9E9E9);
	background:      -o-linear-gradient(white, #E9E9E9);
    background :         linear-gradient(white, #E9E9E9);

	background-color: #E9E9E9;
	color: black;
}

.iui-grid-row-selected
{
	background: -webkit-linear-gradient(#ffffff, #ffffff);
	background:    -moz-linear-gradient(#ffffff, #ffffff);
	background:     -ms-linear-gradient(#ffffff, #ffffff);
	background:      -o-linear-gradient(#ffffff, #ffffff);
    background :         linear-gradient(#ffffff, #ffffff);

	background-color: #ffffff;
	color: black;
}
.iui-grid-row-cell:first-child
{
	border-left: thin solid #646464;
}
.iui-grid-row-cell:last-child
{
	border-right: thin solid #646464;
}
.iui-grid-lines-horizontal
{
	border-bottom: thin solid #646464;
}
.iui-grid-lines-vertical
{
	border-right: thin solid #646464;
}
.iui-grid-lines-both
{
	border-right: thin solid #646464;
	border-bottom: thin solid #646464;
}
.iui-grid-expand-box-open
{
	background: url(../../resources/expand-white.png) no-repeat 0 0;
}
.iui-grid-expand-box-close
{
	background: url(../../resources/collapse-white.png) no-repeat 0 0;
}
.iui-grid-expand-box-open-rtl
{
	background: url(../../resources/expand-rtl-white.png) no-repeat 0 0;
}
.iui-grid-expand-box-close-rtl
{
	background: url(../../resources/collapse-rtl-white.png) no-repeat 0 0;
}

/* --- IntegralUI List ----------------------------------------------- */
.iui-list
{
	background-color: white;
	border-color: #cecece;
	border-radius: 1px;
    color: black;
}
.iui-list-item
{
	border: thin solid transparent;
	padding: 0px 3px;
}
.iui-list-item-disabled
{
	color: #cecece;
}
.iui-list-item-hovered
{
	background: -webkit-linear-gradient(white, #E9E9E9);
	background:    -moz-linear-gradient(white, #E9E9E9);
	background:     -ms-linear-gradient(white, #E9E9E9);
	background:      -o-linear-gradient(white, #E9E9E9);
    background :         linear-gradient(white, #E9E9E9);

	background-color: #D9D9D9;
	border: thin solid #DEDEDE;
}
.iui-list-item-selected
{
	background: -webkit-linear-gradient(#E7E7E7, #BFBFBF);
	background:    -moz-linear-gradient(#E7E7E7, #BFBFBF);
	background:     -ms-linear-gradient(#E7E7E7, #BFBFBF);
	background:      -o-linear-gradient(#E7E7E7, #BFBFBF);
    background :         linear-gradient(#E7E7E7, #BFBFBF);

	background-color: #BFBFBF;
	border: thin solid #A5A5A5;
}
.iui-list-item-content
{
	border-radius: 0;
	padding: 3px;
}

/* --- IntegralUI ListBox ------------------------------------------------------ */
.iui-listbox
{
	background-color: white;
	border-color: #cecece;
    color: black;
}
.iui-listbox-item-content
{
	display: inline-block;
	border: thin solid transparent;
	padding: 0px 3px;
}

.iui-listbox-item-content-hovered
{
	background: -webkit-linear-gradient(white, #E9E9E9);
	background:    -moz-linear-gradient(white, #E9E9E9);
	background:     -ms-linear-gradient(white, #E9E9E9);
	background:      -o-linear-gradient(white, #E9E9E9);
    background :         linear-gradient(white, #E9E9E9);

	background-color: #D9D9D9;
	border: thin solid #DEDEDE;
}

.iui-listbox-item-content-selected
{
	background: -webkit-linear-gradient(#E7E7E7, #BFBFBF);
	background:    -moz-linear-gradient(#E7E7E7, #BFBFBF);
	background:     -ms-linear-gradient(#E7E7E7, #BFBFBF);
	background:      -o-linear-gradient(#E7E7E7, #BFBFBF);
    background :         linear-gradient(#E7E7E7, #BFBFBF);

	background-color: #BFBFBF;
	border: thin solid #A5A5A5;
}

/* --- IntegralUI Menu ------------------------------------------------------ */

.iui-menu
{
	background-color: white;
    color: black;
}
.iui-menu > ul
{
	background-color: #14202A;
}
.iui-menu-item-root
{
	background: none;
	border: solid thin #14202A;
	color: white;
}
.iui-menu-item-root-hovered
{
	background: -webkit-linear-gradient(#EEEEEE, #6F7878);
	background:    -moz-linear-gradient(#EEEEEE, #6F7878);
	background:     -ms-linear-gradient(#EEEEEE, #6F7878);
	background:      -o-linear-gradient(#EEEEEE, #6F7878);
    background :         linear-gradient(#EEEEEE, #6F7878);

	background-color: #6F7878;
	border: solid thin #000000;
	color: black;
}
.iui-menu-item-root-hovered a
{
	color: black;
}
.iui-menu-item-hovered
{
	background: -webkit-linear-gradient(white, #EEEEEE);
	background:    -moz-linear-gradient(white, #EEEEEE);
	background:     -ms-linear-gradient(white, #EEEEEE);
	background:      -o-linear-gradient(white, #EEEEEE);
    background :         linear-gradient(white, #EEEEEE);

	background-color: #EEEEEE;
	border: solid thin #DDDDDD !important;
}
.iui-menu-item-selected
{
	background-color: white;
	border: solid thin gray;
}
.iui-menu-item-selected a
{
	color: black;
}
.iui-menu li > ul
{
	background-color: #fefefe;
	border: solid thin #000000;
}
.iui-menu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../resources/icons.png) no-repeat 0 0;
}
.iui-menu-item-normal
{
	background-color: #fefefe;
	border: solid thin #fefefe;
	color: black;
}
.iui-menu-marker-expand-down::before
{
	border: 4px solid #919191;
	border-color: #919191 transparent transparent transparent;
}
.iui-menu-marker-expand-down-rtl::before
{
	border: 4px solid #919191;
	border-color: #919191 transparent transparent transparent;
}
.iui-menu-marker-expand-right::before
{
	border: 4px solid #919191;
	border-color: transparent transparent transparent #919191;
}
.iui-menu-marker-expand-left::before
{
	border: 4px solid #919191;
	border-color: transparent #919191 transparent transparent;
}
.iui-menu-marker-top::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #000000 transparent;
}
.iui-menu-marker-top::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-top-rtl::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #000000 transparent;
}
.iui-menu-marker-top-rtl::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-left::before
{
	border: 4px solid #fefefe;
	border-color: transparent #000000 transparent transparent;
}
.iui-menu-marker-left::after
{
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
}
.iui-menu-marker-right::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #000000;
}
.iui-menu-marker-right::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
}
.iui-menu-disabled > ul
{
	background: #808080;
}
.iui-menu-item-root-disabled, .iui-menu-item-disabled
{
	border: solid thin transparent;
	color: #cecece;
}

/* --- IntegralUI SlideBar -------------------------------------------------- */

.iui-slidebar-button
{
	background: url(../../resources/icons.png) no-repeat -144px 0;
}
.iui-slidebar-button-selected
{
	background: url(../../resources/icons.png) no-repeat -160px 0;
}

/* --- IntegralUI TabStrip ----------------------------------------------- */

.iui-tabstrip ul
{
}
.iui-tabstrip-tab-header
{
	background-color: #6F7878;
	border: solid thin #555B5B;
	border-bottom-color: gray;
	color: white;
}
.iui-tabstrip-tab-hovered
{
	background: -webkit-linear-gradient(white, #A8A8A8);
	background:    -moz-linear-gradient(white, #A8A8A8);
	background:     -ms-linear-gradient(white, #A8A8A8);
	background:      -o-linear-gradient(white, #A8A8A8);
    background :         linear-gradient(white, #A8A8A8);

	background-color: #A8A8A8;
	border: solid thin gray;
	color: black;
}
.iui-tabstrip-tab-selected
{
	background-color: white;
	border: solid thin gray;
	color: black;
}
.iui-tabstrip-tab-selected-top
{
	border-bottom-color: white;
}
.iui-tabstrip-tab-selected-right
{
	border-left-color: white;
}
.iui-tabstrip-tab-selected-bottom
{
	border-top-color: white;
}
.iui-tabstrip-tab-selected-left
{
	border-right-color: white;
}
.iui-tabstrip-tab-content
{
	background: white;
	border-color: gray;
}
.iui-tabstrip-tab-content-disabled
{
	background: #f5f5f5;
	color: gray;
}
.iui-tabstrip-nav-buttons span:hover
{
	background-color: white;
	border: thin solid gray;
	border-radius: 3px;
}

/* --- IntegralUI TreeGrid ----------------------------------------------- */
.iui-treegrid
{
	background-color: #363636;
	border: thin solid #121212;
    color: white;
}
.iui-treegrid-column-header, .iui-treegrid-column-footer
{
	background: -webkit-linear-gradient(#747474, #545454);
	background:    -moz-linear-gradient(#747474, #545454);
	background:     -ms-linear-gradient(#747474, #545454);
	background:      -o-linear-gradient(#747474, #545454);
    background :         linear-gradient(#747474, #545454);

	background-color: #545454;
	border: thin solid #646464;
}
.iui-treegrid-column-header-hovered
{
	background: -webkit-linear-gradient(#cccccc, #aaaaaa);
	background:    -moz-linear-gradient(#cccccc, #aaaaaa);
	background:     -ms-linear-gradient(#cccccc, #aaaaaa);
	background:      -o-linear-gradient(#cccccc, #aaaaaa);
    background :         linear-gradient(#cccccc, #aaaaaa);

	background-color: #aaaaaa;
	border-color: #bbbbbb;
}
.iui-treegrid-column-header-selected
{
	background: -webkit-linear-gradient(#a5a5a5, #858585);
	background:    -moz-linear-gradient(#a5a5a5, #858585);
	background:     -ms-linear-gradient(#a5a5a5, #858585);
	background:      -o-linear-gradient(#a5a5a5, #858585);
    background :         linear-gradient(#a5a5a5, #858585);

	background-color: #858585;
	border-color: #959595;
}
.iui-treegrid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-treegrid-row-disabled, .iui-treegrid-row-cell-disabled
{
	background-color: white;
	color: #cecece;
}
.iui-treegrid-row-hovered
{
	background: -webkit-linear-gradient(white, #E9E9E9);
	background:    -moz-linear-gradient(white, #E9E9E9);
	background:     -ms-linear-gradient(white, #E9E9E9);
	background:      -o-linear-gradient(white, #E9E9E9);
    background :         linear-gradient(white, #E9E9E9);

	background-color: #E9E9E9;
	color: black;
}

.iui-treegrid-row-selected
{
	background: -webkit-linear-gradient(#ffffff, #ffffff);
	background:    -moz-linear-gradient(#ffffff, #ffffff);
	background:     -ms-linear-gradient(#ffffff, #ffffff);
	background:      -o-linear-gradient(#ffffff, #ffffff);
    background :         linear-gradient(#ffffff, #ffffff);

	background-color: #ffffff;
	color: black;
}
.iui-treegrid-row-cell:first-child
{
	border-left: thin solid #646464;
}
.iui-treegrid-row-cell:last-child
{
	border-right: thin solid #646464;
}
.iui-treegrid-lines-horizontal
{
	border-bottom: thin solid #646464;
}
.iui-treegrid-lines-vertical
{
	border-right: thin solid #646464;
}
.iui-treegrid-lines-both
{
	border-right: thin solid #646464;
	border-bottom: thin solid #646464;
}
.iui-treegrid-expand-box-open
{
	background: url(../../resources/expand-white.png) no-repeat 0 0;
}
.iui-treegrid-expand-box-close
{
	background: url(../../resources/collapse-white.png) no-repeat 0 0;
}
.iui-treegrid-expand-box-open-rtl
{
	background: url(../../resources/expand-rtl-white.png) no-repeat 0 0;
}
.iui-treegrid-expand-box-close-rtl
{
	background: url(../../resources/collapse-rtl-white.png) no-repeat 0 0;
}

/* --- IntegralUI TreeView ----------------------------------------------- */
.iui-treeview
{
	background-color: white;
	border-color: #cecece;
    color: black;
}
.iui-treeview-item-content
{
	display: inline-block;
	border: thin solid transparent;
	padding: 0px 3px;
}

.iui-treeview-item-content-hovered
{
	background: -webkit-linear-gradient(white, #E9E9E9);
	background:    -moz-linear-gradient(white, #E9E9E9);
	background:     -ms-linear-gradient(white, #E9E9E9);
	background:      -o-linear-gradient(white, #E9E9E9);
    background :         linear-gradient(white, #E9E9E9);

	background-color: #D9D9D9;
	border: thin solid #DEDEDE;
}

.iui-treeview-item-content-selected
{
	background: -webkit-linear-gradient(#E7E7E7, #BFBFBF);
	background:    -moz-linear-gradient(#E7E7E7, #BFBFBF);
	background:     -ms-linear-gradient(#E7E7E7, #BFBFBF);
	background:      -o-linear-gradient(#E7E7E7, #BFBFBF);
    background :         linear-gradient(#E7E7E7, #BFBFBF);

	background-color: #BFBFBF;
	border: thin solid #A5A5A5;
}