
.iui-dropdown-mark
{
	background-color: #008000;
}

/* --- IntegralUI Accordion ----------------------------------------------- */

.iui-accordion-header
{
	background-color: #00BF00;
	border: solid thin #4BA346;
}
.iui-accordion-header-hovered
{
	background-color: #00D100;
}
.iui-accordion-header-selected
{
	background-color: #008500;
	border-color: #006400;
	color: white;
}

.iui-accordion-content
{
	background-color: #EAFFEA;
	border: solid thin #4BA346;
}

.iui-accordion-expand-box
{
	background: url(../../resources/icons.png) no-repeat 0 0;
}
.iui-accordion-expand-box-expanded 
{
	background-position: -80px 0px;
}
.iui-accordion-expand-box-collapsed
{
	background-position: -96px 0px;
}

/* --- IntegralUI ComboBox ----------------------------------------------- */
.iui-combobox
{
	background-color: white;
	border-color: #cecece;
	border-radius: 1px;
    color: black;
}

/* --- IntegralUI Grid ----------------------------------------------- */
.iui-grid
{
	background-color: white;
	border: thin solid #dadada;
    color: black;
}
.iui-grid-column-header, .iui-grid-column-footer
{
	background-color: #f0f0f0;
	border-color: #d5d5d5;
	padding: 3px 0;
}
.iui-grid-column-header-hovered
{
	background-color: #74b031;
	border-color: #65992b;
	color: white;
}
.iui-grid-column-header-selected
{
	background-color: #3e5e1a;
	border: thin solid #253810;
	color: white;
}
.iui-grid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-grid-row-disabled
{
	background-color: white;
	color: #cecece;
}
.iui-grid-row-hovered
{
	background-color: #32bb32;
}
.iui-grid-row-selected
{
	background-color: #008000;
	color: white;
}
.iui-grid-row-cell
{
	padding: 1px 0;
}
.iui-grid-row-cell:first-child
{
	border-left: thin solid #d5d5d5;
}
.iui-grid-row-cell:last-child
{
	border-right: thin solid #d5d5d5;
}
.iui-grid-lines-horizontal
{
	border-bottom: thin solid #d5d5d5;
}
.iui-grid-lines-vertical
{
	border-right: thin solid #d5d5d5;
}
.iui-grid-lines-both
{
	border-right: thin solid #d5d5d5;
	border-bottom: thin solid #d5d5d5;
}

/* --- IntegralUI List ----------------------------------------------- */
.iui-list
{
	background-color: white;
	border-color: #cecece;
	border-radius: 1px;
    color: black;
}
.iui-list-item
{
	border: thin solid transparent;
	padding: 0px 3px;
}
.iui-list-item-disabled
{
	color: #cecece;
}
.iui-list-item-hovered
{
	background-color: #32bb32;
	border: thin solid #24aa24;
}

.iui-list-item-selected
{
	background-color: #008000;
	border: thin solid #006400;
	color: white;
}
.iui-list-item-content
{
	border-radius: 0;
	padding: 3px;
}

/* --- IntegralUI ListBox ----------------------------------------------- */
.iui-listbox
{
	background-color: white;
	border-color: #cecece;
    color: black;
}
.iui-listbox-item-content
{
	display: inline-block;
	border: thin solid transparent;
	padding: 0px 3px;
}

.iui-listbox-item-content-hovered
{
	background-color: #32bb32;
	border: thin solid #24aa24;
}
.iui-listbox-item-content-selected
{
	background-color: #008000;
	border: thin solid #006400;
	color: white;
}
.iui-listbox-item-content
{
	border-radius: 0;
	padding: 3px;
}

/* --- IntegralUI Menu ------------------------------------------------------ */

.iui-menu
{
	background-color: white;
    color: black;
}
.iui-menu > ul
{
	background-color: #008500;
}
.iui-menu-item-root, .iui-menu-item-root-vertical
{
	background: none;
	border: solid thin #008500;
	color: white;
}
.iui-menu-item-root-hovered, .iui-menu-item-root-selected
{
	background-color: #24cf24;
	border: solid thin #008500;
	color: black;
}
.iui-menu-item-root-hovered a
{
	color: black;
}
.iui-menu-item-hovered
{
	background-color: #d1ffd1 !important;
	border: solid thin #80ee80 !important;
}
.iui-menu-item-selected
{
	background-color: white;
	border: solid thin gray;
}
.iui-menu-item-selected a
{
	color: black;
}
.iui-menu li > ul
{
	background-color: #fefefe;
	border: solid thin #008500;
}
.iui-menu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../resources/icons.png) no-repeat 0 0;
}
.iui-menu-item-normal
{
	background-color: #fefefe;
	border: solid thin #fefefe;
	color: black;
}
.iui-menu-marker-expand-down::before
{
	border: 4px solid #21C921;
	border-color: #21C921 transparent transparent transparent;
}
.iui-menu-marker-expand-down-rtl::before
{
	border: 4px solid #21C921;
	border-color: #21C921 transparent transparent transparent;
}
.iui-menu-marker-expand-right::before
{
	border: 4px solid #21C921;
	border-color: transparent transparent transparent #21C921;
}
.iui-menu-marker-expand-left::before
{
	border: 4px solid #21C921;
	border-color: transparent #21C921 transparent transparent;
}
.iui-menu-marker-top::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #008500 transparent;
}
.iui-menu-marker-top::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-top-rtl::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #008500 transparent;
}
.iui-menu-marker-top-rtl::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-left::before
{
	border: 4px solid #fefefe;
	border-color: transparent #008500 transparent transparent;
}
.iui-menu-marker-left::after
{
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
}
.iui-menu-marker-right::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #008500;
}
.iui-menu-marker-right::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
}
.iui-menu-disabled > ul
{
	background: #808080;
}
.iui-menu-item-root-disabled, .iui-menu-item-disabled
{
	border: solid thin transparent;
	color: #cecece;
}

/* --- IntegralUI SlideBar -------------------------------------------------- */

.iui-slidebar-button
{
	background: url(../../resources/icons.png) no-repeat -144px 0;
}
.iui-slidebar-button-selected
{
	background: url(../../resources/icons.png) no-repeat -160px 0;
}

/* --- IntegralUI TabStrip ----------------------------------------------- */

.iui-tabstrip ul
{
}
.iui-tabstrip-tab-header
{
	background-color: #31D928;
	border: solid thin #4BA346;
	border-bottom-color: gray;
	color: white;
}
.iui-tabstrip-tab-hovered
{
	background-color: #6DEC66;
	border: solid thin gray;
	color: black;
}
.iui-tabstrip-tab-selected
{
	background-color: white;
	border: solid thin gray;
	color: black;
}
.iui-tabstrip-tab-selected-top
{
	border-bottom-color: white;
}
.iui-tabstrip-tab-selected-right
{
	border-left-color: white;
}
.iui-tabstrip-tab-selected-bottom
{
	border-top-color: white;
}
.iui-tabstrip-tab-selected-left
{
	border-right-color: white;
}
.iui-tabstrip-tab-content
{
	background: white;
	border-color: gray;
}
.iui-tabstrip-tab-content-disabled
{
	background: #f5f5f5;
	color: gray;
}
.iui-tabstrip-nav-buttons span:hover
{
	background-color: white;
	border: thin solid gray;
	border-radius: 3px;
}

/* --- IntegralUI TreeGrid ----------------------------------------------- */
.iui-treegrid
{
	background-color: white;
	border: thin solid #dadada;
    color: black;
}
.iui-treegrid-column-header, .iui-treegrid-column-footer
{
	background-color: #f0f0f0;
	border-color: #d5d5d5;
	padding: 3px 0;
}
.iui-treegrid-column-header-hovered
{
	background-color: #74b031;
	border-color: #65992b;
	color: white;
}
.iui-treegrid-column-header-selected
{
	background-color: #3e5e1a;
	border: thin solid #253810;
	color: white;
}
.iui-treegrid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-treegrid-row-disabled
{
	background-color: white;
	color: #cecece;
}
.iui-treegrid-row-hovered
{
	background-color: #32bb32;
}
.iui-treegrid-row-selected
{
	background-color: #008000;
	color: white;
}
.iui-treegrid-row-cell
{
	padding: 1px 0;
}
.iui-treegrid-row-cell:first-child
{
	border-left: thin solid #d5d5d5;
}
.iui-treegrid-row-cell:last-child
{
	border-right: thin solid #d5d5d5;
}
.iui-treegrid-lines-horizontal
{
	border-bottom: thin solid #d5d5d5;
}
.iui-treegrid-lines-vertical
{
	border-right: thin solid #d5d5d5;
}
.iui-treegrid-lines-both
{
	border-right: thin solid #d5d5d5;
	border-bottom: thin solid #d5d5d5;
}

/* --- IntegralUI TreeView ----------------------------------------------- */
.iui-treeview
{
	background-color: white;
	border-color: #cecece;
    color: black;
}
.iui-treeview-item-content
{
	display: inline-block;
	border: thin solid transparent;
	padding: 0px 3px;
}

.iui-treeview-item-content-hovered
{
	background-color: #32bb32;
	border: thin solid #24aa24;
}
.iui-treeview-item-content-selected
{
	background-color: #008000;
	border: thin solid #006400;
	color: white;
}
.iui-treeview-item-content
{
	border-radius: 0;
	padding: 3px;
}
.iui-treeview-item-disabled
{
	background-color: white;
	color: #cecece;
}
