
.iui-dropdown-mark
{
	background-color: white;
}

/* --- IntegralUI Accordion ----------------------------------------------- */

.iui-accordion-group-header, .iui-accordion-header
{
	background-color: #808080;
	border: solid thin #606060;
}
.iui-accordion-group-header-disabled
{
	background-color: #f5f5f5;
	border: solid thin gray;
	color: gray;
}
.iui-accordion-group-header-hovered, .iui-accordion-header-hovered
{
	background-color: #969696;
}
.iui-accordion-header-selected, .iui-accordion-group-header-selected
{
	background-color: #484848;
	border-color: #121212;
	color: white;
}
.iui-accordion-group-content, .iui-accordion-content
{
	background-color: #363636;
	border: solid thin #121212;
	color: white;
}
.iui-accordion-group-content-disabled
{
	background: #f5f5f5;
	border-color: gray;
	color: gray;
}
.iui-accordion-expand-box
{
	background: url(../../resources/icons.png) no-repeat 0 0;
}
.iui-accordion-expand-box-expanded 
{
	background-position: -80px 0px;
}
.iui-accordion-expand-box-collapsed
{
	background-position: -96px 0px;
}

/* --- IntegralUI ComboBox ----------------------------------------------- */
.iui-combobox
{
	background-color: #363636;
	border-color: #121212;
	border-radius: 1px;
    color: white;
}

/* --- IntegralUI Grid ----------------------------------------------- */
.iui-grid
{
	background-color: #363636;
	border: thin solid #121212;
    color: white;
}
.iui-grid-column-header, .iui-grid-column-footer
{
	background-color: #545454;
	border-color: #646464;
	padding: 3px 0;
}
.iui-grid-column-header-hovered
{
	background-color: #aaaaaa;
	border-color: #bbbbbb;
	color: white;
}
.iui-grid-column-header-selected
{
	background-color: #858585;
	border: thin solid #959595;
	color: white;
}
.iui-grid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-grid-row-disabled
{
	background-color: white;
	color: #cecece;
}
.iui-grid-row-hovered
{
	background-color: #E9E9E9;
	color: black;
}
.iui-grid-row-selected
{
	background-color: #ffffff;
	color: black;
}
.iui-grid-row-cell
{
	padding: 1px 0;
}
.iui-grid-row-cell:first-child
{
	border-left: thin solid #646464;
}
.iui-grid-row-cell:last-child
{
	border-right: thin solid #646464;
}
.iui-grid-lines-horizontal
{
	border-bottom: thin solid #646464;
}
.iui-grid-lines-vertical
{
	border-right: thin solid #646464;
}
.iui-grid-lines-both
{
	border-right: thin solid #646464;
	border-bottom: thin solid #646464;
}
.iui-grid-expand-box-open
{
	background: url(../../resources/expand-white.png) no-repeat 0 0;
}
.iui-grid-expand-box-close
{
	background: url(../../resources/collapse-white.png) no-repeat 0 0;
}
.iui-grid-expand-box-open-rtl
{
	background: url(../../resources/expand-rtl-white.png) no-repeat 0 0;
}
.iui-grid-expand-box-close-rtl
{
	background: url(../../resources/collapse-rtl-white.png) no-repeat 0 0;
}

/* --- IntegralUI List ----------------------------------------------- */
.iui-list
{
	background-color: #363636;
	border-color: #121212;
	border-radius: 1px;
    color: white;
}
.iui-list-item
{
	border: thin solid transparent;
	padding: 0px 3px;
}
.iui-list-item-disabled
{
	color: #cecece;
}
.iui-list-item-hovered
{
	background-color: #E9E9E9;
	border: thin solid #E9E9E9;
	color: black;
}
.iui-list-item-selected
{
	background-color: white;
	border: thin solid white;
	color: black;
}
.iui-list-item-content
{
	border-radius: 0;
	padding: 3px;
}

/* --- IntegralUI ListBox ----------------------------------------------- */
.iui-listbox
{
	background-color: #363636;
	border-color: #121212;
    color: white;
}
.iui-listbox-item-content
{
	border-radius: 0;
	display: inline-block;
	border: thin solid transparent;
	padding: 3px;
}
.iui-listbox-item-content-hovered
{
	background-color: #E9E9E9;
	border: thin solid #E9E9E9;
	color: black;
}
.iui-listbox-item-content-selected
{
	background-color: white;
	border: thin solid white;
	color: black;
}

/* --- IntegralUI Menu ------------------------------------------------------ */

.iui-menu
{
	background-color: white;
    color: black;
}
.iui-menu > ul
{
	background-color: #14202A;
}
.iui-menu-item-root, .iui-menu-item-root-vertical
{
	background: none;
	border: solid thin #14202A;
	color: white;
}
.iui-menu-item-root-hovered, .iui-menu-item-root-selected
{
	background-color: #6F7878;
	border: solid thin #000000;
	color: black;
}
.iui-menu-item-root-hovered a
{
	color: black;
}
.iui-menu-item-hovered
{
	background-color: #EEEEEE !important;
	border: solid thin #DDDDDD !important;
}
.iui-menu-item-selected
{
	background-color: white;
	border: solid thin gray;
}
.iui-menu-item-selected a
{
	color: black;
}
.iui-menu li > ul
{
	background-color: #fefefe;
	border: solid thin #000000;
}
.iui-menu-expand-box
{
	width: 16px;
	height: 16px;
	background: url(../resources/icons.png) no-repeat 0 0;
}
.iui-menu-item-normal
{
	background-color: #fefefe;
	border: solid thin #fefefe;
	color: black;
}
.iui-menu-marker-expand-down::before
{
	border: 4px solid #919191;
	border-color: #919191 transparent transparent transparent;
}
.iui-menu-marker-expand-down-rtl::before
{
	border: 4px solid #919191;
	border-color: #919191 transparent transparent transparent;
}
.iui-menu-marker-expand-right::before
{
	border: 4px solid #919191;
	border-color: transparent transparent transparent #919191;
}
.iui-menu-marker-expand-left::before
{
	border: 4px solid #919191;
	border-color: transparent #919191 transparent transparent;
}
.iui-menu-marker-top::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #000000 transparent;
}
.iui-menu-marker-top::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-top-rtl::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #000000 transparent;
}
.iui-menu-marker-top-rtl::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent #fefefe transparent;
}
.iui-menu-marker-left::before
{
	border: 4px solid #fefefe;
	border-color: transparent #000000 transparent transparent;
}
.iui-menu-marker-left::after
{
	border: 4px solid #fefefe;
	border-color: transparent #fefefe transparent transparent;
}
.iui-menu-marker-right::before
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #000000;
}
.iui-menu-marker-right::after
{
	border: 4px solid #fefefe;
	border-color: transparent transparent transparent #fefefe;
}
.iui-menu-disabled > ul
{
	background: #808080;
}
.iui-menu-item-root-disabled, .iui-menu-item-disabled
{
	border: solid thin transparent;
	color: #cecece;
}

/* --- IntegralUI ScrollBar ----------------------------------------------- */

.iui-scrollbar-vertical
{
	background-color: #303030;
	border-left: thin solid #242424;
}
.iui-scroll-button-thumb-vertical, .iui-scroll-button-thumb-horizontal
{
	background-color: #646464;
	border: thin solid #484848;
}
.iui-scroll-button-thumb-vertical:hover, .iui-scroll-button-thumb-horizontal:hover
{
	background-color: #aaaaaa;
	border-color: #808080;
}
.iui-scrollbar-horizontal
{
	background-color: #303030;
	border-top: thin solid #242424;
}
.iui-scrollbar-corner
{
	background-color: #303030;
}

/* --- IntegralUI SlideBar -------------------------------------------------- */

.iui-slidebar-button
{
	background: url(../../resources/icons.png) no-repeat -144px 0;
}
.iui-slidebar-button-selected
{
	background: url(../../resources/icons.png) no-repeat -160px 0;
}

/* --- IntegralUI TabStrip ----------------------------------------------- */

.iui-tabstrip ul
{
}
.iui-tabstrip-tab-header, .iui-tab-header
{
	background-color: #808080;
	border: solid thin #606060;
	border-bottom-color: #363636;
	color: white;
}
.iui-tabstrip-tab-disabled, .iui-tab-header-disabled
{
	background-color: #f5f5f5;
	border: solid thin gray;
	color: gray;
}
.iui-tabstrip-tab-hovered, .iui-tab-header-hovered
{
	background-color: #969696;
	border: solid thin #606060;
	color: black;
}
.iui-tabstrip-tab-selected, .iui-tab-header-selected
{
	background-color: #363636;
	border: solid thin #121212;
	color: white;
}
.iui-tabstrip-tab-selected-top, .iui-tab-header-selected-top
{
	border-bottom-color: #363636;
}
.iui-tabstrip-tab-selected-right, .iui-tab-header-selected-right
{
	border-left-color: #363636;
}
.iui-tabstrip-tab-selected-bottom, .iui-tab-header-selected-bottom
{
	border-top-color: #363636;
}
.iui-tabstrip-tab-selected-left, .iui-tab-header-selected-left
{
	border-right-color: #363636;
}
.iui-tabstrip-tab-content, .iui-tab-content
{
	background: #363636;
	border-color: #121212;
}
.iui-tabstrip-tab-content-disabled, .iui-tab-content-disabled
{
	background: #f5f5f5;
	color: gray;
}
.iui-tabstrip-nav-buttons span:hover
{
	background-color: white;
	border: thin solid #121212;
	border-radius: 3px;
}
.iui-tabstrip > div:not(.iui-tabstrip-nav-buttons)
{
	border-color: #121212;
}
/* --- IntegralUI TreeGrid ----------------------------------------------- */
.iui-treegrid
{
	background-color: #363636;
	border: thin solid #121212;
    color: white;
}
.iui-treegrid-column-header, .iui-treegrid-column-footer
{
	background-color: #545454;
	border-color: #646464;
	padding: 3px 0;
}
.iui-treegrid-column-header-hovered
{
	background-color: #aaaaaa;
	border-color: #bbbbbb;
	color: white;
}
.iui-treegrid-column-header-selected
{
	background-color: #858585;
	border: thin solid #959595;
	color: white;
}
.iui-treegrid-column-header-cell-selected
{
	background-color: transparent;
}
.iui-treegrid-row-disabled
{
	background-color: white;
	color: #cecece;
}
.iui-treegrid-row-hovered
{
	background-color: #E9E9E9;
	color: black;
}
.iui-treegrid-row-selected
{
	background-color: #ffffff;
	color: black;
}
.iui-treegrid-row-cell
{
	padding: 1px 0;
}
.iui-treegrid-row-cell:first-child
{
	border-left: thin solid #646464;
}
.iui-treegrid-row-cell:last-child
{
	border-right: thin solid #646464;
}
.iui-treegrid-lines-horizontal
{
	border-bottom: thin solid #646464;
}
.iui-treegrid-lines-vertical
{
	border-right: thin solid #646464;
}
.iui-treegrid-lines-both
{
	border-right: thin solid #646464;
	border-bottom: thin solid #646464;
}
.iui-treegrid-expand-box-open
{
	background: url(../../resources/expand-white.png) no-repeat 0 0;
}
.iui-treegrid-expand-box-close
{
	background: url(../../resources/collapse-white.png) no-repeat 0 0;
}
.iui-treegrid-expand-box-open-rtl
{
	background: url(../../resources/expand-rtl-white.png) no-repeat 0 0;
}
.iui-treegrid-expand-box-close-rtl
{
	background: url(../../resources/collapse-rtl-white.png) no-repeat 0 0;
}

/* --- IntegralUI TreeView ----------------------------------------------- */
.iui-treeview
{
	background-color: #363636;
	border-color: #121212;
    color: white;
}
.iui-treeview-item-content
{
	border-radius: 0;
	display: inline-block;
	border: thin solid transparent;
	padding: 3px;
}
.iui-treeview-item-content-hovered
{
	background-color: #E9E9E9;
	border: thin solid #E9E9E9;
	color: black;
}
.iui-treeview-item-content-selected
{
	background-color: white;
	border: thin solid white;
	color: black;
}
.iui-treeview-expand-box-open
{
	background: url(../../resources/expand-white.png) no-repeat 0 0;
}
.iui-treeview-expand-box-close
{
	background: url(../../resources/collapse-white.png) no-repeat 0 0;
}
.iui-treeview-expand-box-open-rtl
{
	background: url(../../resources/expand-rtl-white.png) no-repeat 0 0;
}
.iui-treeview-expand-box-close-rtl
{
	background: url(../../resources/collapse-rtl-white.png) no-repeat 0 0;
}
.iui-treeview-item-disabled
{
	background-color: #363636;
	color: #cecece;
}
